<div class="col-group pt10 pb10">
    <div class="col-24">        
        <span>{{ field.label|raw }}</span>
    </div>
</div>
<div class="col-group">
    <div class="col-mb-9">        
        <div class="input-field">            
            <div id="{{ id }}" class="dropzone dropzone-form brand-logo" style="height:300px;">
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current" ></div>
                    <div class="dz-m__header"  style="opacity:1;"><i class="zmdi zmdi-wallpaper"></i></div>
                    <div class="dz-m__content" style="opacity:1;">
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}            
        </div>        
    </div>
</div>
<div class="col-group ">
    <div class="col-mb-9">            
        <div class="input-field__desc">
            {{ trans('*Only csv files are accepted') }}
        </div>
    </div>
</div>




